{% extends "todo/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h2>your todo list is:</h2>
        {% if not todos  %}
            <p>you don't have any todo yet</p>
            <p>add todo in <a href="{% url 'todo-create' %}">here</a></p>
        {% else %}
            {% for todo in todos %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <small class="text-muted">start at: {{ todo.start_time }} |</small>
                            <small class="text-muted">finish at: {{ todo.finish_time }} |</small>
                            <small class="text-muted">date submit: {{ todo.submit_date|date:"F d, Y" }}</small>
                        </div>
                        <h2><a class="article-title" href="{% url 'todo-detail' todo.id %}">{{ todo.title }}</a></h2>
                        <p class="article-content">{{ todo.content }}</p>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    {% else %}
        <h1>todo application</h1>
        <p>this site is for manage your todo list</p>
        <p>easy to work and very simple</p>
        <p>for starting the app, just <a href="{% url 'register' %}">register</a></p>
    {% endif %}
{% endblock content %}