{% extends 'todo/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">delete post</legend>
                <h2>are you sure?</h2>
            </fieldset>
            <div class="from-group">
                <button class="btn btn-outline-danger" type="submit">Yes, delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'todo-detail' object.id %}">cancel</a>
            </div>
        </form>
    </div>

{% endblock %}