{% extends 'todo/base.html' %}
{% block content %}
    {% for todo in todos %}
    <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">start at: {{ todo.start_time }} |</small>
            <small class="text-muted">finish at: {{ todo.finish_time }} |</small>
            <small class="text-muted">date submit: {{ todo.submit_date|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ todo.title }}</a></h2>
        <p class="article-content">{{ todo.content }}</p>
    </div>
    </article>
    {% endfor %}
{% endblock %}
