{% extends "todo/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">start at: {{ object.start_time }} |</small>
                <small class="text-muted">finish at: {{ object.finish_time }} |</small>
                <small class="text-muted">date submit: {{ object.submit_date|date:"F d, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <hr>
            {% if object.author == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'todo-update' object.id %}">update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'todo-delete' object.id %}">Delete</a>
            {% endif %}
        </div>
    </article>
{% endblock content %}