{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">log in</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="from-group">
                <button class="btn btn-outline-info" type="submit">log in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                if you need account, <a href="{% url 'register' %}">sign up</a>
            </small>
        </div>

    </div>

{% endblock %}