{% extends 'todo/base.html' %}
{% block content %}
    <h2>you have been logout</h2>    
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">log in again</a>
        </small>
    </div>


{% endblock %}