{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile </legend>
                {{ u_form|crispy }}
            </fieldset>
            <div class="from-group">
                <button class="btn btn-outline-info" type="submit">update</button>
            </div>
        </form>
    </div>
{% endblock %}